autoCreateTopicsEnable: {{ .Values | get "kafka.autoCreateTopicsEnable" true }}
persistence.enabled: false
deleteTopicEnable: true
topics: ["p-1","p-2"]
image:
    debug: true
    pullPolicy: 'Always'
allowEveryoneIfNoAclFound: true
externalAccess:
    enabled: false
